@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
    --color-primary-blue: hsl(220, 98%, 61%);
    --color-primary-gradient-1: hsl(192, 100%, 67%);
    --color-primary-gradient-2: hsl(280, 87%, 65%);

    /*light-theme*/
    --color-gray-50: hsl(0, 0%, 98%);
    --color-gray-300: hsl(233, 11%, 84%);
    --color-gray-600: hsl(236, 9%, 61%);
    --color-navy-850: hsl(235, 19%, 35%);

    /*dark-theme*/
    --color-navy-950: hsl(235, 21%, 11%);
    --color-navy-900: hsl(235, 24%, 19%);
    --color-purple-100: hsl(236, 33%, 92%);
    --color-purple-600: hsl(235, 16%, 43%);
    --color-purple-700: hsl(233, 14%, 35%);
    --color-purple-800: hsl(237, 14%, 26%);
}

:root {
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}

@layer utilities {
    .text-margin-fix {
        margin-top: calc(var(--spacing) * 0) /* 0.375rem = 6px */;
    }
}
